<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/3.4/menu">
	<menu id="None-202531" label="New Menu">
		<item label="New Item">
			<action name="Execute">
				<execute>command</execute>
			</action>
		</item>
	</menu>
	<menu execute="/usr/libexec/openbox-xdg-menu applications" id="applications-menu" label="Applications"/>
	<menu execute="/usr/libexec/openbox-xdg-menu preferences" id="preferences-menu" label="Preferences"/>
	<menu execute="/usr/libexec/openbox-xdg-menu system-settings" id="administration-menu" label="Administration"/>
	<menu execute="/usr/libexec/openbox-xdg-menu /etc/xdg/openbox/terminals" id="terminals-menu" label="Terminals"/>
	<menu id="root-menu" label="Openbox 3">
		<separator label="[ Openbox ]"/>
		<item label="Apps">
			<action name="Execute">
				<execute>rofi -combi-modi window,drun,ssh,run -show combi -modi combi,run -display-drun Start</execute>
			</action>
		</item>
		<separator/>
		<menu id="root-menu-71489" label="Accessories">
			<separator label="Accessories"/>
			<menu id="root-menu-71489-57125" label="File Manager">
				<separator label="File Manager"/>
				<item label="Nautilus">
					<action name="Execute">
						<execute>nautilus</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-71489-340" label=" Text Editor">
				<separator label="Text Editor"/>
				<item label="Gedit">
					<action name="Execute">
						<execute>gedit</execute>
					</action>
				</item>
				<item label="Sublime Text">
					<action name="Execute">
						<execute>sh ~/.bin/sublime_text</execute>
					</action>
				</item>
			</menu>
		</menu>

		<menu id="inet" label="Internet">
			<separator label="Internet"/>
			<menu id="inet-51719" label="Chat">
				<separator label="Chat"/>
				<item label="Skype">
					<action name="Execute">
						<execute>skypeforlinux</execute>
					</action>
				</item>
			</menu>
			<menu id="inet-11613" label="Browser">
				<separator label="Browser"/>
				<item label="Mozilla Firefox">
					<action name="Execute">
						<execute>firefox</execute>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="office" label="Office">
			<separator label="Office"/>
			<item label="Libre">
				<action name="Execute">
					<execute>libreoffice</execute>
				</action>
			</item>
		</menu>
		<menu id="multimedia" label=" Multimedia">
			<separator label=" Multimedia"/>
			<menu id="multimedia-843818" label=" Picture Viewer">
				<separator label=" Picture Viewer"/>
				<item label="Feh">
					<action name="Execute">
						<execute>feh</execute>
					</action>
				</item>
			</menu>
			<menu id="multimedia-861828" label=" Music Player">
				<separator label=" Music Player"/>
				<item label="Ncmpcpp">
					<action name="Execute">
						<execute>urxvt -e ncmpcpp</execute>
					</action>
				</item>
			</menu>
		</menu>
		<menu id="root-menu-161838" label="Tools">
			<separator label="Tools"/>
			<menu id="root-menu-161838-221457" label="Panel">
				<separator label="Panel"/>
				<item label="Tint2">
					<action name="Execute">
						<execute>tint2</execute>
					</action>
				</item>
				<item label="Tint2 Config">
					<action name="Execute">
						<execute>tint2conf</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-161838-131059" label="Terminal">
				<separator label="Terminal"/>
				<item label="Urxvt">
					<action name="Execute">
						<execute>urxvt</execute>
					</action>
				</item>
				<item label="Urxvt Transparent">
					<action name="Execute">
						<execute>urxvt --transparent</execute>
					</action>
				</item>
				<item label="Gnome-Terminal">
					<action name="Execute">
						<execute>gnome-terminal</execute>
					</action>
				</item>
				<item label="XTerm">
					<action name="Execute">
						<execute>xterm</execute>
					</action>
				</item>
			</menu>
			<menu id="root-menu-161838-75225" label="Other">
				<menu id="root-menu-161838-75225-813451" label="Task Manager">
					<separator label="Task Manager"/>
					<item label="Gnome System Monitor">
						<action name="Execute">
							<execute>gnome-system-monitor</execute>
						</action>
					</item>
				</menu>
			</menu>
			<item label="Compositor">
				<action name="Execute">
					<execute>compton</execute>
				</action>
			</item>
			<item label=" Obmenu">
				<action name="Execute">
					<execute>obmenu</execute>
				</action>
			</item>
			<item label="Config Manager">
				<action name="Execute">
					<execute>obconf</execute>
				</action>
			</item>
		</menu>
		<separator/>
		<item label="Run">
			<action name="Execute">
				<execute>rofi -show run -fullscreen True -lines 3 -line-margin 6 -padding 270 -bw 0 -opacity &quot;70&quot; -font &quot;ShureTechMono Nerd Font 12&quot; -scrollbar-width 0 -separator-style &quot;none&quot;</execute>
			</action>
		</item>
		<separator/>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<menu id="ext" label="Exit">
			<menu id="ext_chi" label="Exit">
				<item label="Exit Openbox Session">
					<action name="Exit">
					<prompt>yes</prompt>
				</action>
				</item>
			</menu>
		</menu>
	</menu>
</openbox_menu>
